.container {
  width: 90%;
}

nav {
  background-color: rgb(46, 45, 45);
}

header {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.headerimage {
  min-width: 100%;
  max-width: 150%;
  min-height: 100%;
}

.header-text {
  position: absolute;
  bottom: 0;
}

h5 {
  color: white;
  font-style: italic;
  margin: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.social-links {
  height: 100px;
}