.container {
  width: 90%;
}
nav {
  background-color: rgb(46, 45, 45);
}
header {
  position: relative;
  height: 450px;
  overflow: hidden;
}
.headerimage {
  min-width: 100%;
  max-width: 150%;
  min-height: 100%;
  max-height: 180%;
}
.header-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  
}
body {
  background-color: white
}
h5 {
  color: white;
  font-style: italic;
  margin: auto;
  padding: 40px;

  text-align: center;
}
.iconholder {
  font-size: 36px;
  display: inline-block;
  text-align: center;
  color: #00bcd4;
}
.card-action-social {
  text-align: center;
}
#social-links {
  margin-right: 5px;
  margin-left: 5px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #00bcd4;
  webkit-transition: color .3s ease;
}
.card-title{
  font-weight: bold;
  color: rgb(46, 45, 45);
}
.btn {
  background-color: #00bcd4;
}
input {
  background-color: rgb(230, 230, 230);
}
.weather-image {
  width: 26%;
  margin-left: 37%;
  margin-right: 37%;
}
#weatherIcon {
 padding-left: 15px;
 padding-right: 15px;
 padding-bottom: 15px;
}
#weatherIcon p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 4px;
}
.weather-overview {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}
.currentTempBig{
  font-size: 36px;
  color: #00bcd4;
  text-align: center;
  margin-top: 10px;
}


p{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

#zip-code-input {
  -webkit-padding-start: 1%;
  margin-top: 5%;
}

#topic-buttons{
 -webkit-padding-start: 2%;
}

.card-title {
  padding: 0;
  padding-top: 15px;
}

.article-image {
  margin-right: 10px;
}

#myCarousel {
  height: 30%;
} 

#top-stories {
  padding-top: 1px;
  margin-bottom: 1px;
  margin-top: 1px;
}

#story-one-h3,
#story-two-h3,
#story-three-h3{
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width:768px){
  #story-one-h3,
  #story-two-h3,
  #story-three-h3{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    padding: 3px;
   }
  }

 

