.container {
  width: 90%;
}

nav {
  background-color: rgb(46, 45, 45);
}

header {
  position: relative;
  height: 450px;
  overflow: hidden;
}

.headerimage {
  min-width: 100%;
  max-width: 150%;
  min-height: 100%;
}

.header-text {
  position: absolute;
  bottom: 0;
  
}

body {
  background-color: white
}

h5 {
  color: white;
  font-style: italic;
  margin: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

 /* h4 {
  font-family: 'Playball', cursive;
} */
 
/* h5{
  font-family: 'Pacifico', cursive;
} */
/* h5{
  font-family: 'Playball', cursive;
  
} */

 /* h5{
  font-family: 'Pinyon Script', cursive;
} */

h5{
  font-family: 'Fredericka the Great', cursive;
} 

/* h5{
  font-family: 'Rouge Script', cursive;
}



